$color_1: #ED8C00;
$color_2: #FFBE42;
$color_3: #CC5D00;
$color_4: #FFB100;
$color_5: #E8763D;

$color_6: rgba(255, 189, 66, 0.15);


$color_text_1:rgb(59, 59, 59);
$color_text_2:rgb(43, 19, 0);

$background_gray_1: rgb(59, 59, 59);