@font-face{
    font-family: 'logo';
    src: url('/assets/Fonts/Righteous/Righteous-Regular.ttf');
}

@font-face{
    font-family: 'ubuntu';
    src: url('/assets/Fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face{
    font-family: 'ubuntu-l';
    src: url('/assets/Fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face{
    font-family: 'ubuntu-b';
    src: url('/assets/Fonts/Ubuntu/Ubuntu-Bold.ttf');
}