.home_holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    &>.description{
    font-family: ubuntu;
    color: $background_gray_1;
    padding: 20px;
    text-align: center;
    }
}
.carousel{
    background-color: $color_6;
    height: 50%;
    width:100%;
}
.carousel_view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: ubuntu;
    color: $background_gray_1;
    text-transform: capitalize;
    text-align: justify;;
    
    &>.image{
       
        height: 100%;
        width: 50%;
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
    }
    &>.text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        padding:20px
       
    }
    &>.alone{
        width: 100%;
    }
}
.react-swipeable-view-container{
    height: 100%;
}