.contact_holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &>p{
        font-family: ubuntu-b;
        font-size: 18px;
        margin: 5px;
        color: $color_text_1;
    }
    &>h2{
        font-family: ubuntu-b;
        font-size: 30px;
        text-align: center;
        margin: 30px
    }
    &>h3{
        width: 80%;
        font-family: ubuntu-b;
        font-size: 24px;
        text-align: left;
        margin: 24px
    }
    &>.row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: ubuntu-b;
        &>a>img{
            width: 60px;
            margin:0 30px;
        }
    }
    &>a{
        font-family:ubuntu;
        font-size: 14px;
        text-decoration: none;
        color: $color_text_1;
        margin: 5px
    }
}